* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

#body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%; }

#sakura {
  padding: 0;
  margin: 0; }

div.btnbg {
  position: fixed;
  left: 0;
  top: 0; }

.titulosctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }

.titulo {
  font-family: "Tangerine", cursive;
  font-size: 4rem !important;
  text-decoration: none;
  color: white; }
  @media screen and (max-width: 320px) {
    .titulo {
      font-size: 6rem; } }
  @media screen and (max-width: 768px) {
    .titulo {
      font-size: 6rem; } }

.subtitulo {
  font-family: "Tangerine", cursive;
  text-decoration: none;
  color: white;
  font-size: 5rem !important; }
  @media screen and (max-width: 320px) {
    .subtitulo {
      font-size: 6rem; } }
  @media screen and (max-width: 768px) {
    .subtitulo {
      font-size: 6rem; } }
