* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

#body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%; }

#sakura {
  padding: 0;
  margin: 0; }

div.btnbg {
  position: fixed;
  left: 0;
  top: 0; }

.titulosctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }

.titulo {
  font-family: "Tangerine", cursive;
  font-size: 4rem !important;
  text-decoration: none;
  color: white; }
  .titulo:hover {
    color: pink; }
  @media screen and (max-width: 320px) {
    .titulo {
      font-size: 2rem !important; } }
  @media screen and (max-width: 768px) {
    .titulo {
      font-size: 2rem !important; } }

.subtitulo {
  font-family: "Tangerine", cursive;
  text-decoration: none;
  color: white;
  font-size: 5rem !important; }
  .subtitulo:hover {
    color: pink; }
  @media screen and (max-width: 320px) {
    .subtitulo {
      font-size: 3rem !important; } }
  @media screen and (max-width: 768px) {
    .subtitulo {
      font-size: 3rem !important; } }

.linkhome {
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 1rem; }
  .linkhome:hover {
    color: pink; }

.hero {
  background-image: url("../assets/foto3.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 80vh; }

.volver1 {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: white;
  height: 20px; }
  .volver1:hover {
    color: pink; }

.textoHero {
  background: #f969a6;
  background: linear-gradient(37deg, #f969a6 57%, white 100%); }

.heroimg {
  width: 150px;
  padding: 20px;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both; }

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

.herotitulo {
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 3rem; }

.herosubtitulo {
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 2rem; }

@media screen and (max-width: 320px) {
  .fantasma {
    height: 0px; } }

@media screen and (max-width: 768px) {
  .fantasma {
    height: 0px; } }

.dondeimg {
  width: 300px; }

.dondetexto {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  color: #2500f9; }

.iglesiaimg {
  padding: 20px; }

.iglesiatxt1 {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  color: #2500f9;
  text-decoration: none; }

.iglesiatxt {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: #2500f9;
  text-decoration: none; }
  .iglesiatxt:hover {
    color: pink; }

.fiestaimg {
  padding: 20px; }

.fiestatxt1 {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  color: #2500f9;
  text-decoration: none; }

.fiestatxt {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: #2500f9;
  text-decoration: none; }
  .fiestatxt:hover {
    color: pink; }

.asistencia {
  background-image: url("../assets/lorenza.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 60vh; }
  .asistencia__link {
    text-decoration: none; }
  .asistencia__txt {
    font-family: "Quicksand", sans-serif;
    color: white;
    font-size: 1.5rem;
    background-color: rgba(244, 104, 183, 0.5);
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    width: 60vh; }
    @media screen and (max-width: 320px) {
      .asistencia__txt {
        width: 40vh; } }
    @media screen and (max-width: 768px) {
      .asistencia__txt {
        width: 40vh; } }

.carroctn {
  padding: 50px; }

.carroimg {
  border-radius: 20px 20px 20px 20px;
  padding: 5px; }

.insta {
  width: 250px; }

.instatxt {
  font-family: "Quicksand", sans-serif;
  color: #c13584;
  font-size: 1.5rem; }

.hashtag {
  font-size: 2rem; }

.confirmacion {
  padding: 20px;
  font-family: "Quicksand", sans-serif;
  background: #f969a6;
  background: linear-gradient(37deg, #f969a6 57%, white 100%);
  color: white; }

.confirmacion__ttl {
  font-size: 2rem; }

.confirmacion__ttl2 {
  font-size: 1rem; }

.confirmacion__nombre {
  padding: 10px; }

.confirmacion__alimenticio {
  padding: 10px; }

.confirmacion__coment {
  padding: 10px; }

.confirmacion__btns {
  padding: 10px; }

#bodys {
  align-items: center;
  background-color: white;
  display: flex;
  font-family: -apple-system,  BlinkMacSystemFont,  "Segoe UI",  Roboto,  Oxygen-Sans,  Ubuntu,  Cantarell,  "Helvetica Neue",  sans-serif; }

.container {
  color: pink;
  margin: 0 auto;
  text-align: center; }

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase; }

li {
  font-family: "Quicksand", sans-serif;
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase; }

li span {
  display: block;
  font-size: 4.5rem; }

.emoji {
  display: none;
  padding: 1rem; }

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem; }

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller)); }
  li {
    font-size: calc(1.125rem * var(--smaller)); }
  li span {
    font-size: calc(3.375rem * var(--smaller)); } }

.cajaderegalos {
  background: #f969a6;
  background: linear-gradient(37deg, #f969a6 57%, white 100%);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  color: white;
  height: 75vh; }
  @media screen and (max-width: 320px) {
    .cajaderegalos {
      height: 95vh; } }
  @media screen and (max-width: 768px) {
    .cajaderegalos {
      height: 95vh; } }

svg#giftBox {
  width: 30vh;
  fill: white;
  transform: translate(-50%, -65%);
  position: relative;
  top: 50%;
  left: 50%; }
  svg#giftBox #giftBox--illustration #giftBox--background {
    clip-path: url(#giftBox--mask); }
  svg#giftBox #giftBox--illustration #giftBox--bkg {
    display: none; }
  svg#giftBox #giftBox--illustration #giftBox--box {
    transform: translate(0, 3%); }
  svg#giftBox #giftBox--illustration #giftBox--lid {
    transform-origin: center bottom; }
  svg#giftBox #giftBox--illustration #giftBox--shadow {
    fill: rgba(0, 0, 0, 0.2);
    opacity: 0; }
  svg#giftBox #giftBox--illustration #giftBox--ribbon {
    transform-origin: center bottom;
    transform: scaleY(0); }
  svg#giftBox #giftBox--illustration #giftBox--heart {
    transform-origin: center top;
    transform: translate(0, -66%); }
  svg#giftBox #giftBox--illustration #giftBox--mask {
    fill: green;
    transform: translate(0, -19%) scale(0.95);
    transform-origin: center 40%; }
  svg#giftBox:hover #giftBox--illustration #giftBox--lid {
    animation: shake 384ms 200ms 1 forwards; }
  svg#giftBox:hover #giftBox--illustration #giftBox--shadow {
    animation: shadow 640ms 1 256ms ease-out forwards; }
  svg#giftBox:hover #giftBox--illustration #giftBox--heart {
    animation: drop 640ms 1 cubic-bezier(0.155, 0.845, 0.115, 1) forwards; }
  svg#giftBox:hover #giftBox--illustration #giftBox--mask {
    animation: drop-mask 640ms 1 cubic-bezier(0.155, 0.845, 0.115, 1) forwards; }
  svg#giftBox:hover #giftBox--illustration #giftBox--ribbon {
    animation: ribbon 640ms 1 256ms cubic-bezier(0.155, 0.845, 0.115, 1) forwards; }

@keyframes drop {
  0% {
    transform: translate(0, -66%); }
  100% {
    transform: translate(0, 0); } }

@keyframes drop-mask {
  0% {
    transform: translate(0, -19%) scale(0.95); }
  100% {
    transform: translate(0, 0) scale(0.95); } }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(0deg); }
  30% {
    transform: rotate(3deg); }
  50% {
    transform: rotate(-3deg); }
  70% {
    transform: rotate(0deg); }
  90% {
    transform: rotate(-3deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes ribbon {
  0% {
    transform: scaleY(0); }
  100% {
    transform: scaleY(1); } }

@keyframes shadow {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.cajaregalotxt {
  font-family: "Quicksand", sans-serif;
  color: white;
  padding: 15px; }
  @media screen and (max-width: 320px) {
    .cajaregalotxt {
      padding: 0; } }
  @media screen and (max-width: 768px) {
    .cajaregalotxt {
      padding: 0; } }

.heroregalos {
  background-image: url("../assets/herogallinas.bmp");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 80vh; }

.volver {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: white; }
  .volver:hover {
    color: pink; }

.hero__explicacion {
  font-family: "Quicksand", sans-serif; }

.canvas__txt {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem; }

.carta__regalo {
  padding: 10px; }

.card__text {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem; }
