@import "./variables";
@import "./responsive";

.hero{
    background-image: url("../assets/hero.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 80vh;
    animation-name: kenburns-top;
    animation-duration: 6s;
    animation-direction: alternate-reverse;

    -webkit-animation: kenburns-top 5s ease-out reverse both;
	        animation: kenburns-top 5s ease-out reverse both;

            @-webkit-keyframes kenburns-top {
                0% {
                  -webkit-transform: scale(1) translateY(0);
                          transform: scale(1) translateY(0);
                  -webkit-transform-origin: 50% 16%;
                          transform-origin: 50% 16%;
                }
                100% {
                  -webkit-transform: scale(1.25) translateY(-15px);
                          transform: scale(1.25) translateY(-15px);
                  -webkit-transform-origin: top;
                          transform-origin: top;
                }
              }
              @keyframes kenburns-top {
                0% {
                  -webkit-transform: scale(1) translateY(0);
                          transform: scale(1) translateY(0);
                  -webkit-transform-origin: 50% 16%;
                          transform-origin: 50% 16%;
                }
                100% {
                  -webkit-transform: scale(1.25) translateY(-15px);
                          transform: scale(1.25) translateY(-15px);
                  -webkit-transform-origin: top;
                          transform-origin: top;
                }
              }
              
}

.textoHero{
    background: rgb(249,105,166);
    background: linear-gradient(37deg, rgba(249,105,166,1) 57%, rgba(255,255,255,1) 100%);
}

.heroimg{
    width: 150px;
    padding: 20px;

    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;

            @-webkit-keyframes heartbeat {
                from {
                  -webkit-transform: scale(1);
                          transform: scale(1);
                  -webkit-transform-origin: center center;
                          transform-origin: center center;
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
                10% {
                  -webkit-transform: scale(0.91);
                          transform: scale(0.91);
                  -webkit-animation-timing-function: ease-in;
                          animation-timing-function: ease-in;
                }
                17% {
                  -webkit-transform: scale(0.98);
                          transform: scale(0.98);
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
                33% {
                  -webkit-transform: scale(0.87);
                          transform: scale(0.87);
                  -webkit-animation-timing-function: ease-in;
                          animation-timing-function: ease-in;
                }
                45% {
                  -webkit-transform: scale(1);
                          transform: scale(1);
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
              }
              @keyframes heartbeat {
                from {
                  -webkit-transform: scale(1);
                          transform: scale(1);
                  -webkit-transform-origin: center center;
                          transform-origin: center center;
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
                10% {
                  -webkit-transform: scale(0.91);
                          transform: scale(0.91);
                  -webkit-animation-timing-function: ease-in;
                          animation-timing-function: ease-in;
                }
                17% {
                  -webkit-transform: scale(0.98);
                          transform: scale(0.98);
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
                33% {
                  -webkit-transform: scale(0.87);
                          transform: scale(0.87);
                  -webkit-animation-timing-function: ease-in;
                          animation-timing-function: ease-in;
                }
                45% {
                  -webkit-transform: scale(1);
                          transform: scale(1);
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
              }
              
}

.herotitulo{
    font-family: $font-normal;
    color: white;
    font-size: 3rem;
}

.herosubtitulo{
    font-family: $font-normal;
    color: white;
    font-size: 2rem;
}

.dondeimg{
    width: 300px;
}

.dondetexto{
    font-family: $font-normal;
    font-size: 2rem;
    color: rgb(37,0,249);
    
}

.iglesiaimg{
    padding: 20px;
}

.iglesiatxt1{
        font-family: $font-normal;
        font-size: 2rem;
        color: rgb(37,0,249);
        text-decoration: none;
    }

.iglesiatxt{
    font-family: $font-normal;
    font-size: 1rem;
    color: rgb(37,0,249);
    text-decoration: none;

    &:hover{
            color: pink;
    }
}

.fiestaimg{
    padding: 20px;
}

.fiestatxt1{
        font-family: $font-normal;
        font-size: 2rem;
        color: rgb(37,0,249);
        text-decoration: none;
    }

.fiestatxt{
    font-family: $font-normal;
    font-size: 1rem;
    color: rgb(37,0,249);
    text-decoration: none;

    &:hover{
            color: pink;
    }
}

.vestimenta{
        background: rgb(255,255,255);
        background: linear-gradient(47deg, rgba(255,255,255,1) 3%, rgba(37,0,249,1) 100%);

        &__titulo{
                font-family: $font-normal;
                font-size: 3rem;
                color: white;
                padding: 20px;
        }

        &__subtitulo{
                font-family: $font-normal;
                font-size: 2rem;
                color: white;
                padding-bottom: 20px;
        }
}

.carroctn{
        padding: 50px;
}

.carroimg{
        border-radius: 20px 20px 20px 20px;
        padding: 5px;
}
