@import "./variables";
@import "./responsive";

.hero{
    background-image: url("../../assets/foto3.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 80vh;           
}

.textoHero{
    background: rgb(249,105,166);
    background: linear-gradient(37deg, rgba(249,105,166,1) 57%, rgba(255,255,255,1) 100%);
}

.heroimg{
    width: 150px;
    padding: 20px;

    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;

            @-webkit-keyframes heartbeat {
                from {
                  -webkit-transform: scale(1);
                          transform: scale(1);
                  -webkit-transform-origin: center center;
                          transform-origin: center center;
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
                10% {
                  -webkit-transform: scale(0.91);
                          transform: scale(0.91);
                  -webkit-animation-timing-function: ease-in;
                          animation-timing-function: ease-in;
                }
                17% {
                  -webkit-transform: scale(0.98);
                          transform: scale(0.98);
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
                33% {
                  -webkit-transform: scale(0.87);
                          transform: scale(0.87);
                  -webkit-animation-timing-function: ease-in;
                          animation-timing-function: ease-in;
                }
                45% {
                  -webkit-transform: scale(1);
                          transform: scale(1);
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
              }
              @keyframes heartbeat {
                from {
                  -webkit-transform: scale(1);
                          transform: scale(1);
                  -webkit-transform-origin: center center;
                          transform-origin: center center;
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
                10% {
                  -webkit-transform: scale(0.91);
                          transform: scale(0.91);
                  -webkit-animation-timing-function: ease-in;
                          animation-timing-function: ease-in;
                }
                17% {
                  -webkit-transform: scale(0.98);
                          transform: scale(0.98);
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
                33% {
                  -webkit-transform: scale(0.87);
                          transform: scale(0.87);
                  -webkit-animation-timing-function: ease-in;
                          animation-timing-function: ease-in;
                }
                45% {
                  -webkit-transform: scale(1);
                          transform: scale(1);
                  -webkit-animation-timing-function: ease-out;
                          animation-timing-function: ease-out;
                }
              }
              
}

.herotitulo{
    font-family: $font-normal;
    color: white;
    font-size: 3rem;
}

.herosubtitulo{
    font-family: $font-normal;
    color: white;
    font-size: 2rem;
}

.fantasma{

        @include movil{
                height: 0px;
            }
          
            @include tablet{
                height: 0px;
}

.dondeimg{
    width: 300px;
}

.dondetexto{
    font-family: $font-normal;
    font-size: 2rem;
    color: rgb(37,0,249);
    
}

.iglesiaimg{
    padding: 20px;
}

.iglesiatxt1{
        font-family: $font-normal;
        font-size: 2rem;
        color: rgb(37,0,249);
        text-decoration: none;
    }

.iglesiatxt{
    font-family: $font-normal;
    font-size: 1rem;
    color: rgb(37,0,249);
    text-decoration: none;

    &:hover{
            color: pink;
    }
}

.fiestaimg{
    padding: 20px;
}

.fiestatxt1{
        font-family: $font-normal;
        font-size: 2rem;
        color: rgb(37,0,249);
        text-decoration: none;
    }

.fiestatxt{
    font-family: $font-normal;
    font-size: 1rem;
    color: rgb(37,0,249);
    text-decoration: none;

    &:hover{
            color: pink;
    }
}

.asistencia{
        background-image: url("../assets/lorenza.jpg");
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        height: 60vh;

        &__link{
                text-decoration: none;
        }

        &__txt{
                font-family: $font-normal;
                color: white;
                font-size: 1.5rem;
                background-color: rgba(244,104,183, 0.5);
                border-radius: 20px 20px 20px 20px;
                text-decoration: none;
                width: 60vh;

                @include movil{
                        width: 40vh;
                    }
                  
                    @include tablet{
                        width: 40vh;
                  }
        }
}

.carroctn{
        padding: 50px;
}

.carroimg{
        border-radius: 20px 20px 20px 20px;
        padding: 5px;
}

.insta{
        width: 250px;
}

.instatxt{
        font-family: $font-normal;
        color: $color-insta;
        font-size: 1.5rem;
}

.hashtag{
        font-size: 2rem;
}

.confirmacion{
        padding: 20px;
        font-family: $font-normal;
        background: rgb(249,105,166);
    background: linear-gradient(37deg, rgba(249,105,166,1) 57%, rgba(255,255,255,1) 100%);
    color: white;

        &__ttl{
                font-size: 2rem;
        }

        &__nombre{
                padding: 10px;
        }

        &__alimenticio{
                padding: 10px;
        }

        &__coment{
                padding: 10px;
        }

        &__btns{
                padding: 10px;
        }
}