@import "./variables";
@import "./responsive";


.volver1{
        font-family: $font-normal;
        text-decoration: none;
        color: white;
        height: 20px;
    
        &:hover{
            color: pink;
        }
    }

.textoHero{
    background: rgb(249,105,166);
    background: linear-gradient(37deg, rgba(249,105,166,1) 57%, rgba(255,255,255,1) 100%);
}


.herotitulo{
    font-family: $font-normal;
    color: white;
    font-size: 3rem;
}

.herosubtitulo{
    font-family: $font-normal;
    color: white;
    font-size: 2rem;
}

.fantasma{

        @include movil{
                height: 0px;
            }
          
            @include tablet{
                height: 0px;
            }
}

.dondeimg{
    width: 300px;
}

.dondetexto{
    font-family: $font-normal;
    font-size: 2rem;
    color: $color-dorado;
    
}

.iglesiaimg{
    padding: 20px;
    width: 20%;
}

.iglesiatxt1{
        font-family: $font-normal;
        font-size: 2rem;
        color: $color-dorado;
        text-decoration: none;
    }

.iglesiatxt{
    font-family: $font-normal;
    font-size: 1rem;
    color: $color-dorado;
    text-decoration: none;
    padding: 5px;

   
}

.fiestaimg{
        width: 20%;
    padding: 20px;
}

.fiestatxt1{
        font-family: $font-normal;
        font-size: 2rem;
        color: $color-dorado;
        text-decoration: none;
    }

.fiestatxt{
    font-family: $font-normal;
    font-size: 1rem;
    color: $color-dorado;
    text-decoration: none;
    padding: 5px;

    
}

.asistencia{
        background-color: $color-verde;
        height: 20vh;
        color: white;
        font-family: $font-normal;
}

.carroctn{
        padding: 50px;
}

.carroimg{
        border-radius: 20px 20px 20px 20px;
        padding: 5px;
}



.insta{
        width: 10%;
}

.hashtag{
        font-size: 2rem;
}

.confirmacion{
        padding: 20px;
        font-family: $font-normal;
        background: rgb(249,105,166);
        background: linear-gradient(37deg, rgba(249,105,166,1) 57%, rgba(255,255,255,1) 100%);
        color: white;
}

.codigoVestimenta{
        background-color: $color-dorado;
        color: white;
        font-family: $font-normal;
        padding: 20px;
}

.imgcopy{
    width: 15px;
    cursor: pointer;
}

.infoAdicional{
    background-color: $color-verde;
    color: white;
    font-family: $font-normal;
    padding: 20px;
}

.spotify{
    color: $color-dorado;
    font-family: $font-normal;
}

.musica{
    width: 10%;
}

.botonOro{
    background-color: $color-dorado;
}