@import "./variables";
@import "./responsive";

.hero{
    background-image: url("../assets/portada.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100vh;           
}

.titulo1{
    font-size: 2rem;
    font-family: $font-normal;
    height: 1.5vh;
    margin-top: 40vh;
}

